@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.mobile-nav {
    display: none;

    @include mobile {
        display: block;
    }

    &__btn {
        background-color: rgba($grey-blue, 65%);
        border-radius: 0 0 0 1rem;
        border: none;
        position: fixed;
        top: 0;
        right: 0;
        padding: 0.75rem 2rem;
        // padding: 1rem 2rem;
        z-index: 1100;
        display: flex;
        cursor: pointer;
        align-items: center;
        transition: width 1s cubic-bezier(0.77, 0, 0.175, 1), background-color 0.3s ease;

        &--open {
            background-color: unset;
            width: 65%;
        }
    }

    &__logo {
        display: none;
        color: $orange;
        font-size: 1.5rem;
        font-weight: 100;
        order: 1;

        &--open {
            display: block;
            margin-left: 1.25rem;
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 65%;
        height: 100%;
        background-color: rgba($grey-accent, 0.95);
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        z-index: 1000;
        transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1), background-color 0.3s ease;

        a {
            color: white;
            font-size: 1.25rem;
            text-decoration: none;
            margin: 0.75rem 0;
            transition: color 0.3s ease;
            @include nav-item-style;
        }
    }

    &--open &__overlay {
        transform: translateX(0);
        background-color: rgba($grey-blue, 80%);
        backdrop-filter: blur(4px);
        padding: 4rem 2.25rem;

    }
}