@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.contact-section {
    display: flex;
    margin: 10rem 0 4rem 0;
    justify-content: space-evenly;

    @include mobile {
        flex-direction: column;
        margin: 8rem 0 2rem 0;
        position: absolute;
        left: 0;
        padding: 5% 5%;
        background-color: rgba(black, 5%);
    }

}