@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;


.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;

    &--scroll {
        transition: 0.5s ease;
        backdrop-filter: blur(10px);
        position: sticky;
        top: 0;
        z-index: 99;
        padding: 0.25rem 5%;
        background-color: rgba($grey-accent, 10%);
    }

    &__heading {
        color: $orange;
        font-size: 1.25rem;
        font-weight: 500;
    }

    &__list {
        display: flex;
    }

    &__list-item {
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
        margin: 0 0.25rem;
        color: $white;

        &:visited {
            color: $white;
        }

        @include nav-item-style;

        &.active {
            color: $orange;
            border-radius: 0;
        }

    }

    &__theme {
        visibility: hidden;
        display: flex;
        background-color: transparent;
        border: none;
        @include nav-item-style;
    }
}