@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;


.hero-statement {
    width: auto;
    max-width: 26.5rem;
    height: max-content;
    margin: 6vh 0 0 0;
    position: absolute;
    right: 49%;

    @include mobile {
        position: relative;
        width: 100%;
        height: max-content;
        margin: 0;
        right: unset;
    }

    &__title {
        margin-bottom: 1.75rem;
        white-space: nowrap;

        @include mobile {
            margin-bottom: 1.5rem;
        }
    }

    &__heading {
        color: $orange;
        font-size: clamp(2rem, 6vw, 4rem);
        font-weight: 400;

        @include mobile {
            font-size: 8.5vw;
        }
    }

    &__subheading {
        font-size: 0.875rem;
        font-weight: 100;

        @include mobile {
            font-size: 3vw;
        }
    }

    &__description {
        margin-bottom: 1.5rem;
        font-size: 0.875rem;
        color: $grey-accent;

        @include mobile {
            font-size: 0.875rem;
        }
    }

    &__resume-btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid $grey-blue;
        border-radius: 0.45rem;
        width: 8rem;
        height: 2rem;
        background-color: $grey-background;
        color: $white;

        &:hover {
            box-shadow: 0 0 0.35rem $grey-blue;
        }
    }

    &__btn-text {
        font-family: "JetBrains Mono", sans-serif;
        font-weight: 300;
    }

    &__download {
        text-decoration: none;
    }
}