@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

@keyframes fadeInBlur {
    from {
        opacity: 0;
        filter: blur(12px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

.hex-sphere {
    height: 60%;
    width: 60%;
    position: absolute;
    left: 32%;
    bottom: 3%;
    touch-action: none;
    max-width: 100%;
    overflow: hidden;
    animation: fadeInBlur 0.8s ease-out 0.4s backwards;

    @include mobile {
        width: 70%;
        aspect-ratio: 1;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: 8%;
    }
}