@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.hex-sphere {
    height: 60%;
    width: 60%;
    position: absolute;
    left: 32%;
    bottom: 3%;

    @include mobile {
        width: 100%;
        height: 50%;
        left: auto;
    }
}