@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.project-header {
    border-top: 1px solid $grey-blue;
    padding: 1.25rem 0;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        flex-direction: column;
        align-items: flex-start;
        border-top: none;
        border-bottom: 1px solid $grey-blue;
        padding: 0.5rem 0;
        margin: 2.5rem 0 1rem 0;

    }

    &__dropdown {
        position: relative;
        border-radius: 0.5rem 0.5rem 0 0;
        padding: 0.25rem;

        &--show {
            background-color: $grey-blue;
        }

        &-btn {
            background-color: rgba($grey-blue, 0.6);
            border: none;
            border-radius: 2rem;
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &--show {
                background-color: unset;
            }
        }

        &-content {
            display: none;
            list-style: none;
            width: 100%;
            border-radius: 0 0 0.5rem 0.5rem;
            position: absolute;
            top: calc(100%);
            right: 0;
            z-index: 1000;
            background: $grey-blue;

            &--show {
                display: block;
            }
        }

        &-item {
            padding: 0.25rem 0.75rem;
            cursor: pointer;

            &:hover {
                border-radius: 0.5rem;
                background-color: $grey-blue;
            }
        }
    }

    &__current {
        display: flex;
        align-items: center;

        &-title {
            font-size: 2.5rem;
            margin-right: 0.75rem;
            font-weight: 400;

            @include mobile {
                font-size: 200%;
            }
        }
    }

    &__link {
        display: flex;

        &-btn {
            background-color: $grey-background;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.3rem;
            border-radius: 0.5rem;
            margin-left: 2rem;
            transition: all 0.2s ease-in-out;

            &--disabled {
                opacity: 0.5;
                cursor: not-allowed !important;

                img {
                    opacity: 0.5;
                }

                &:hover {
                    cursor: not-allowed !important;
                }

                .project-header__link-title {
                    color: rgba($white, 0.5);
                }
            }

            @include mobile {
                margin: 0 1rem 0 0;
            }

            &:hover:not(.project-header__link-btn--disabled) {
                cursor: pointer;
                background-color: rgba($grey-blue, 0.6);
            }
        }

        &-title {
            color: rgba($white, 0.75);
            font-size: 1rem;
            font-weight: 200;
            margin-right: 0.5rem;

            @include mobile {
                font-size: 0.875rem;
            }
        }

        &-icon {
            @include mobile {
                width: 14px;
                height: 12px;
            }
        }
    }
}