@use '../../../styles/variables' as *;

.bento-box {
    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__title {
        font-size: 0.75rem;
        color: $orange;
        font-weight: 300;
        margin: 0.25rem 0;
        height: min-content
    }

    &__info {
        flex: 1;
        background-color: rgba($grey-accent, 5%);
        padding: 0.75rem;
        border: 1px solid rgba($orange, 40%);
        border-radius: 0.5rem;
        font-size: 0.75rem;
        list-style-position: inside;
    }

}