@use '../../../styles/variables' as *;

.header {
    border-top: 1px solid $grey-blue;
    padding: 1.25rem 0;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__project-menu {
        position: relative;
        border-radius: 0.5rem;
        padding: 0.5rem;

    }

    &__project-title {
        font-size: 2.25rem;
        margin-right: 0.75rem;
        font-weight: 400;
    }
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;

    &__btn {
        background-color: rgba($grey-blue, 0.6);
        border: none;
        border-radius: 2rem;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &--show {
            background-color: unset;

        }
    }

    &__content {
        display: none;
        min-width: 180px;
        list-style: none;
        border-radius: 0 0.5rem 0.5rem 0.5rem;

        .dropdown__item {
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover {
                border-radius: 0.5rem;
                background-color: $grey-blue;
            }
        }

        &--show {
            display: block;
        }
    }

}

.link {

    &__btn {
        background-color: $grey-background;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3rem;
        border-radius: 0.5rem;

        &:hover {
            cursor: pointer;
            background-color: rgba($grey-blue, 0.6);
        }
    }

    &__title {
        color: $white;
        font-size: 1rem;
        font-weight: 200;
        margin-right: 0.5rem;
    }
}

.bento-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    row-gap: 0.75rem;
    grid-auto-rows: 15.5rem;

    &__item {
        &--wide {
            grid-column: span 2;
        }

        &--double-wide {
            grid-column: span 3;
        }

        &--tall {
            grid-row: span 2;
        }
    }
}