@use '../../../styles/variables' as *;

.header {
    border-top: 1px solid $grey-blue;
    padding: 1.25rem 0;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__project-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__project-title {
        font-size: 2.25rem;
        margin-right: 0.75rem;
        font-weight: 400;
    }
}

.dropdown {
    position: relative;

    &__btn {
        background-color: rgba($grey-blue, 0.6);
        border: none;
        border-radius: 0.25rem;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &--show {
            border-radius: 0.25rem 0.25rem 0 0;
        }
    }

    &__content {
        display: none;
        position: absolute;
        background-color: rgba($grey-blue, 0.6);
        min-width: 180px;
        box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.4);
        z-index: 1;
        list-style: none;
        border-radius: 0 0.5rem 0.5rem 0.5rem;

        .dropdown__item {
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover {
                border-radius: 0.5rem;
                background-color: $grey-blue;
            }
        }

        &--show {
            display: block;
        }
    }

}

.link {

    &__btn {
        background-color: $grey-background;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3rem;
        border-radius: 0.5rem;

        &:hover {
            cursor: pointer;
            background-color: rgba($grey-blue, 0.6);
        }
    }

    &__title {
        color: $white;
        font-size: 1rem;
        font-weight: 200;
        margin-right: 0.5rem;
    }
}

.bento-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    row-gap: 0.75rem;
    grid-auto-rows: 15.5rem;
}

.tile--wide {
    grid-column: span 2;
}

.tile--double-wide {
    grid-column: span 3;
}

.tile--tall {
    grid-row: span 2;
}