@use '../../../styles/variables' as *;

.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem;
    width: 100%;
    align-items: center;
    width: 100%;

    &__center {
        fill: $orange;
        position: absolute;
    }

    &__start {
        stroke: $orange;
        stroke-width: 1px;
    }

    &__center-line {
        stroke: $orange;
    }

}