@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem;
    width: 100%;
    align-items: center;
    width: 100%;

    @include mobile {
        padding: 0 0 0 0.625rem
    }

    &__center {
        fill: $orange;
        position: absolute;
        height: 100%;
        top: 0;

        @include mobile {
            left: 0
        }
    }

    &__start {
        stroke: $orange;
        stroke-width: 1px;
    }

    &__center-line {
        stroke: $orange;
    }

}